
.idea/Face-Identity-Disentanglement-via-Latent-Space-Mapping-StyleGan2.iml

.idea/

./Losses/__pycache__/

.resnet50_scratch_dag.pth

Losses/__pycache__/

Models/__pycache__/

*.pyc

Weights/resnet50_scratch_dag.pth

Weights/stylegan2-ffhq-config-f.pt

*.pth

*.pt
/Weights/
